body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  box-sizing: border-box;
  color: #252525;
  background-color: #f6f6f7;
  font-size: 16px;
}

main {
  width: 100%;
  background-color: #f6f6f7;
}