.c-article {
  width: 100%;

  img {
    max-width: 100%;
    height: auto;
    margin: 15px auto 15px;
    border-radius: 5px;
  }

  &__main-img {
    padding-bottom: 25px;
    width: 100%;
    height: auto;
  }

  &__author {
    font-size: 1.3em;
  }

  &__published {
    font-size: 1.2em;
    font-weight: 300;
    display: block;
    margin-bottom: 25px;
  }

  &__text p {
    font-size: 1.1em;
    font-weight: 300;
    margin-bottom: 15px;
  }

  a {
    text-decoration: none;
    color: #252525;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }

  pre {
    font-weight: 300;
    margin: 25px 0 25px;
    overflow: scroll;
    color: #f2f2f2;
    border-radius: 3px;
  }

  ::-webkit-scrollbar { 
    display: none; 
  }

  ul {
    list-style-type: disc;
    margin: 0 0 25px 20px;
  }

  h4 {
    font-size: 1.4em;
    margin-top: 25px;
  }

  hr {
    margin-bottom: 25px;
  }
  
  &__path {
    text-decoration: none;
  }
}