.c-comments-form {
  clear: both;
  margin-top: 15px;

  &__name-label,
  &__body-label {
    display: block;
    font-size: 1.2em;
    margin-top: 25px;
  }

  &__name-label {
    margin-top: 50px;
  }

  &__name-field,
  &__body-text {
    width: 100%;
    font-size: 0.9em;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    border: 0;
    border-radius: 5px;
    margin-top: 5px;
    box-sizing: border-box;
    outline: none;
  }

  &__name-field {
    padding: 10px 10px;
  }

  &__body-text {
    padding: 10px 10px 75px;
  }

  &__submit-btn {
    width: 100%;
    padding: 8px 0;
    margin: 35px 0;
    border: none;
    border-radius: 5px;
    color: #f2f2f2;
    background-color: #252525;
    font-family: "Roboto", sans-serif;
    font-size: 1.3em;
    font-weight: 300;
    text-transform: uppercase;

    &:hover {
      cursor: pointer;
    }
  }
}