.c-comment {
  p {
    margin: 5px 0 15px;
  }

  &__author {
    border-top: 1px #c9c9c9 solid;
    border-bottom: 1px #c9c9c9 solid;
    padding: 5px 0 10px;
  
    &-name {
      font-size: 1.1em;
      font-weight: 500;
    }
  }

  &__img {
    width: 50px;
    height: auto;
    float: left;
    margin-right: 5px;
    border-radius: 50px;
  }

  &__created-date {
    display: block;
    font-size: 0.9em;
  }
}