.c-category {
  font-size: 1.2em;
  margin-top: 20px;

  &__btn {
    height: 25px;
    padding: 0 15px;
    background-color: rgb(212, 66, 55);
    color: #f2f2f2;
    border: 0.5px solid #252525;
    border-radius: 5px;
    font-weight: 500;
    margin: 10px 20px 25px 0;
    outline: none;
  
    &:hover {
      background-color: rgb(199, 61, 52);
      cursor: pointer;
    }
  }
}