.contact-form {
  p {
    font-size: 1.1em;
    font-weight: 300;
    margin: 10px 0 25px;
  }

  h3 {
    font-size: 1.7em;
    font-weight: 300;
  }

  fieldset {
    width: 100%;
    margin: 25px auto 0;
  }

  label {
    display: block;
    font-size: 1.3em;
    font-weight: 300;
  }

  &__input {
    
    &--short {
      box-sizing: border-box;
      width: 100%;
      height: 30px;
      border: 0;
      border-radius: 5px;
      padding: 20px 10px;
      margin: 10px 0 35px;
      font-family: "Roboto", sans-serif;
      font-size: 1.1em;
      font-weight: 300;
      outline: none;
    }

    &--tall {
      box-sizing: border-box;
      width: 100%;
      height: 100px;
      border: 0;
      border-radius: 5px;
      padding: 15px 10px;
      font-family: "Roboto", sans-serif;
      font-size: 1.1em;
      font-weight: 300;
      outline: none;
    }
  }

  &__btn {
    width: 100%;
    padding: 8px 0;
    margin: 35px 0 55px;
    border: none;
    border-radius: 5px;
    color: #f2f2f2;
    background-color: #252525;
    font-family: "Roboto", sans-serif;
    font-size: 1.3em;
    font-weight: 300;
    text-transform: uppercase;
    outline: none;
    
    &:hover {
      cursor: pointer;
    }
  }
}

@media only screen and (min-width: 960px) {
  .contact-form {
    width: 45%;
    margin-left:5%;
    float: right;
  }
}