.c-intro {
  width: 100%;
  padding-bottom: 15px;

  &__text {

    p {
      max-width: 100%;
      margin: 0 5%;
      padding-top: 15px;
      text-align: left;
      font-weight: 300;
      font-size: 1.1em;
    }
  }
  
  &__img {
    max-width: 90%;
    margin: 0 5%;
    padding-top: 25px;
  }
}

@media screen and (min-width: 768px) {
  .c-intro {

    &__text {

      p {
        width: 90%;
        margin: 0 5%;
      }
    }
  
    &__img {
      width: 40%;
      margin: 0 5%;
      float: right;
      padding-bottom: 15px;
    }
  }
}

@media screen and (min-width: 960px) {
  .c-intro {
    &__img {
      padding-bottom: 35px;
    }
  }
}


