.c-load-btn {
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 1.3em;
  padding-bottom: 15px;

  a {
    color: #252525;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
