.c-subscribe-form {
  width: 275px;
  margin: 0 auto;

  &__container {  
    width: 275px;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    align-items: center;
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
    margin: 0 auto;
  }

  &__input {
    -webkit-appearance: none;
    width: 150px;
    vertical-align: middle;
    margin: 5px 0 5px 0;
    padding: 5px 10px;
    background-color: #f2f2f2;;
    border: 0;
    border-radius: 5px 0 0 5px;
    font-family: "Roboto";
    font-weight: 300;
    outline: none;
  }

  &__btn {
    -webkit-appearance: none;
    width: 100px;
    padding: 6px 10px;
    background-color:#F4B62C;
    border: 0 ;
    color: white;
    cursor: pointer;
    margin-left: -1px;
    border-radius: 0 5px 5px 0;
    text-transform: uppercase;
    font-family: "Roboto";
    font-weight: 500;
    outline: none;

    &:hover {
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 768px) {
  .c-subscribe-form {
    &__container {
      height: 30px;
      top: 0;
      right: 0;
      padding: 35px 35px 0 0;
    }

    &__btn {
      height: auto;
    }
  } 
}