.c-user-comments {
  font-weight: 300;
  width: 100%;

  &__header {
    text-align: center;
    font-weight: 500;
    font-size: 1.6em;
    margin-bottom: 25px;
  }

  &__info {
    display: inline;
    vertical-align: middle;
  }

  &__login-message {
    font-size: 1.4em;
    font-weight: 500;
    display: inline;
  }

  &__counter {
    font-size: 1.4em;
    font-weight: 300;
    margin: 25px 0;
    clear: right;
  }

  &__login-btn {
    float: right;
    color: #f2f2f2;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background-color: #5A5A5A;
    padding: 0 15px;
    margin-top: 5px;
    border: 0.5px solid #252525; 
    border-radius: 5px;
    outline: none;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      background-color: #252525;
    }
  }

  &__back-btn {
    text-decoration: none;
    color: #252525;
    font-weight: 500;
    font-size: 1.2em;
    display: block;
    margin: 25px 0;
    float: right;

    &:hover {
      text-decoration: underline;
    }
  }
}